{% extends 'profiles/base.html' %}

{% block body %}

{% if datamain.status %}

<H3>The total efforts are {{datamain.efforts}}  hours <input id="check1"  type="checkbox" value="Completed?"></H3>

<script language="javascript">
        document.getElementById("check1").checked = true;
</script>
{% else %}

<H3>The total efforts are {{datamain.efforts}}  hours <input id="check2"  type="checkbox" value="Completed?"></H3>
<script language="javascript">
        document.getElementById("check1").checked = false;
</script>
{% endif  %}


<H3> All Sub Tasks </H3>
		<ul>
			{% for albums in object_list %}

			</li> {{subtask.comments}} </li>

			{% endfor %}

		</ul>

<a href="{% url 'profiles:task-update' pk=datamain.id %}" class="btn btn-primary">Edit</a>

<a href="{% url 'profiles:subtask-add' %}" class="btn btn-primary">New Sub</a>

{% endblock %}